@charset "UTF-8";

/* 
   Paleta de cores
   Verde: #49a09d
   Lilás: #1a6b0a

*/

* {
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
}

body, html {
   background-color: #49a09d;
   height: 100vh;
   width: 100vw;
}

main {
   position: relative;
   height: 100vh;
   width: 100vw;
}

section#login {
   position: absolute;
   background-color: white;
   width: 250px;
   height: 500px;
   border-radius: 20px;
   overflow: hidden;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

   top: 50%;
   left: 50%;
   
   transform: translate(-50%, -50%);
   transition: width .5s, height .5s;
   transition-timing-function: ease;
}

#login > #imagem {
   display: block;
   background-color: #1a6b0a;
   background-image: url(../imagens/img-login.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center left;
   height: 200px;
}

#login > #formulario {
   display: block;
   padding: 10px;
}

#formulario > h1 {
   text-align: center;
   margin-bottom: 10px;
}

#formulario > p {
   font-size: 0.9em;
   margin: 15px 0px;
}

form > .campo {
   background-color: #228a0e;
   display: block;
   width: 100%;
   height: 30px;
   border-radius: 9px;
   margin: 5px 0px 5px 0px;
}

div.campo {
   padding: 2px;
}

div.campo > label {
   display: none;
}

div.campo > span {
   color: white;
   font-size: 2em;
   width: 41px;
   padding: 5px;   
   transform: translateY(-7px);
}

div.campo > input {
   background-color: #b4ffb4a4;
   font-size: 1em;
   width: calc(100% - 46px);
   height: 100%;
   border: 0px;
   border-radius: 9px;
   padding: 6px;
   transform: translateY(-18px);
}

div.campo > input:focus-within {
   background-color: white;
}

form > input[type=submit] {
   display: block;
   font-size: 1em;
   width: 100%;
   height: 30px;
   background-color: #49a09d;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

form > input[type=submit]:hover {
   background-color: #3c7e7c;
}

form > .botao {
   display: block;
   text-align: center;
   text-decoration: none;
   font-size: 1em;
   width: 100%;
   height: 30px;
   padding-top: 3px;
   margin-top: 5px;
   background-color: #ffffff;
   color: #1a6b0a;
   border: 1px solid #49a09d;
   border-radius: 5px;
}

form > .botao:hover {
   background-color: #f0f0f0;
}

form > .botao > span {
   font-size: 0.8em;
   
}